@import "tailwindcss";


html, body{
  scroll-behavior: smooth;
}

@theme{
  --color-primary: #191923;
  --color-secondary: #3B82F6;
  --color-accent:#3B82F6;
  --color-background:hsl(0,9%,98%);
  --color-soft-alert: #F59E0B;
  --color-text:hsl(0,0%,5%);
  --color-text-muted:hsl(0,0%,40%);

  /*   
    --color-primary: #555B6E;
    --color-secondary: #89B0AE;
    --color-accent:#BEE3DB;
    --color-background:hsl(0,9%,98%);

    --color-soft-alert:#FFD6BA;
    --color-text:hsl(0,0%,5%);
    --color-text-muted:hsl(0,0%,40%);
  */
  
 /* some minor color shades */
 --color-secondary-shade:#89B0AE;
 --color-bg-dark:hsl(0,0%,75%);

}

/* --- These are the tailwind css directives ---- */
@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: var(--text);
    background-color: var(--background);
    /*    color-scheme: light dark; */
  }
  h3{
    @apply text-lg font-bold text-text;
  }
 
}
@layer utilities{
  .blue-shadow{
    @apply hover:shadow-2xl hover:shadow-accent duration-300;
  }
  .soft-shadow{
    @apply hover:shadow-2xl hover:shadow-soft-alert;
  }
  .card-scale{
    @apply hover:scale-95 duration-500;
  }

  .flex-row-center{
    @apply flex flex-row items-center;
  }
  .flex-row-start{
    @apply flex flex-row items-start;
  }
  .flex-row-end{
    @apply flex flex-row items-end;
  }
  .flex-col-start{
    @apply flex flex-col items-start;
  }
  .flex-col-center{
    @apply flex flex-col items-center;
  }


}
@layer components {
  .btn {
    @apply px-4 py-2 font-bold rounded ;
  }

  .btn-primary {
    @apply px-6 py-2 bg-soft-alert rounded-sm cursor-pointer text-background font-medium shadow-md mt-[3rem] hover:bg-accent hover:shadow-lg transition duration-400 ease-in-out;
  }
.btnHover{
  @apply cursor-pointer hover:bg-accent hover:shadow-lg transition duration-400 ease-in-out;

}

  /*For all the headings within my project */
    .header{
      @apply font-bold text-3xl text-primary sm:w-full  w-[95%] text-center;
    }
    .headerSpan{
      @apply font-light text-3xl;
    }
    .headerLink li{
      @apply cursor-pointer hover:brightness-90 hover:text-soft-alert duration-200;
    }
    .mobileList li{
      @apply text-bg-dark pl-4 w-full h-10 flex flex-row items-center;
    }
    .mobileNavIcon{
      @apply text-xl text-background mr-3;
    }
    .navAngleIcon{
      @apply mr-2 float-end text-text-muted text-sm mt-2;
    }


  /* Footer list settings */
  .footerList{
    @apply flex flex-col items-start justify-evenly w-fit h-fit gap-4 text-background text-sm;
  }
  .footerLink li{
    @apply cursor-pointer hover:brightness-80 duration-200;
  }
  

  /*  socials section */
  .myIcons{
    @apply text-xl text-soft-alert hover:brightness-80 transition-all duration-300 cursor-pointer;
  }


  /* For the ___why us___ selling points abt page */
  .whyUs{
    @apply w-[90%] sm:w-[60%] md:w-[50%] lg:w-2/5 h-16 mb-4 flex items-center m-auto gap-2 pl-4 shadow-md rounded-xl text-text hover:shadow-xl duration-300;
  }
  .whyCheckbox{
    @apply text-3xl text-secondary;
  }

  .missionVission{
    @apply w-1/4 mb-4 pb-2 leading-6.5 text-3xl text-primary border-b-2 border-secondary font-bold;
  }


 /*  contacts page */
 .contactIconBox{
  @apply w-20 h-20 shadow-xl flex items-center justify-center mr-4;
 }
 .contactIcon{
  @apply text-2xl text-secondary;
 }
 .callEmailBox{
  @apply w-full h-fit  flex flex-row items-center justify-start mb-8;
 }
 
}

